  /*  
    Ses dette betyder det at :root margin og padding bliver brugt.  

    
      border-radius: var(--main-radius);
      padding-top: var(--main-padding); */
  
   :root {
      --main-radius: 10px;
      --main-padding: 10px;
  }
  
  body {
      font-family: "Inter", sans-serif;
  }
  /* grind container, 100vh = 100% af visnings højden, display = grid, template columns = 4 fraktioner/4 dele eller 4x 25.00%
  row gap = mellemrum mellem rækker, column gap = mellemrum i colonner
  grid-template-areas: "nav nav nav nav" = række 1 nav fylder alle 4  
  "main main main main" = række 2 main fylder alle 4
   "box1 box2 box3 box4" = række 3 hver box 1-4 fylder 25.00%
    "box5 box6 box7 box8" = række 4 hver box 1-4 fylder 25.00%  
    "footer footer footer footer"; række 5 footer fylder det hele
    text-transform: uppercas = alt text er med stort
       font-weight: 800; = hvor fed fonten er
  */
  
  .container {
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.8fr 1fr 1fr 1fr;
      grid-template-areas: "nav nav nav nav" "main main main main" "box1 box2 box3 box4" "box5 box6 box7 box8" "footer footer footer footer";
      grid-gap: 0.2rem;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 12px;
      color: #004d40;
      text-align: center;
  }
  /* grid-area: nav = grid-template-areas: "nav nav nav nav" dvs nav fylder den del der er template area som passer sammen med grid-area */
  
  nav {
      background: #a7ffeb;
      grid-area: nav;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  ul {
      display: flex;
      justify-content: space-around;
      width: 50vw;
  }
  
  li {
      list-style: none;
  }
  
  ul li a {
      color: darkblue;
      text-decoration: none;
  }
  
  ul li a:hover {
      color: red;
      text-decoration: none;
  }
  /* grid-area: main = grid-template-areas: "main main main main" dvs main  fylder den del der er template area som passer sammen med grid-area */
  
  main {
      background: #84ffff;
      grid-area: main;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box1 {
      background: #6fffd2;
      grid-area: box1;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box2 {
      background: #64ffda;
      grid-area: box2;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box3 {
      background: #73ffba;
      grid-area: box3;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box4 {
      background: #6fffd2;
      grid-area: box4;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box5 {
      background: #6fffd2;
      grid-area: box5;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box6 {
      background: #64ffda;
      grid-area: box6;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box7 {
      background: #73ffba;
      grid-area: box7;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: box1 = grid-template-areas: "box1" dvs box1 fylder den del der er template area som passer sammen med grid-area */
  
  #box8 {
      background: #6fffd2;
      grid-area: box8;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  /* grid-area: footer = grid-template-areas: "footer footer footer footer" dvs footer fylder den del der er template area som passer sammen med grid-area */
  
  footer {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1de9b6;
      grid-area: footer;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  }
  
  footer a {
      color: darkgoldenrod;
      font-size: xx-large;
  }
  
  footer a:hover {
      color: red;
      font-size: xx-large;
      background-color: blue;
  }
  /* media only screen and max-width: 768 px, bestemmer hvordan række følgen er på enheder der er 768px bred eller derunder */
  
  @media only screen and (max-width: 768px) {
      .container {
          height: 100vh;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 0.2fr 0.5fr 0.5fr 0.8fr 0.4fr;
          grid-template-areas: "nav nav nav nav" "box1 box2 box3 box4" "box5 box6 box7 box8" "main main main main" "footer footer footer footer";
      }
  }
  /* media only screen and max-width: 550 px, 
bestemmer hvordan række følgen er på enheder der er 550px bred eller derunder i dette tilfælde fylder de hver i sær ud i en kolonne så det hele er en lang kolonne */
  
  @media only screen and (max-width: 550px) {
      .container {
          grid-template-columns: 1fr;
          grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
          grid-template-areas: "nav" "main" "main" "box1" "box2" "box3" "box4" "box5" "box6" "box7" "box8" "footer";
      }
  }